body {
    background: linear-gradient(0deg, rgba(15,32,58,1) 5%, rgba(11,53,120,1) 50%, rgba(15,32,58,1) 94%);
    display: flex;
    flex-direction: column;
    min-width: 375px;
    overflow: hidden;
  }

  footer {
    flex: 0 30px;
    z-index: 2;
}

footer a {
    float: right;
}

header {
    flex: 0 80px;
}

main {
    align-items: center;
    display: flex;
    flex: 1 calc(100vh - 110px);
    flex-direction: column;
    height: 50%;
    justify-content: center;
    min-height: 80vh;
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  #menu-buttons {
    align-items: end;
    display: flex;
    height: 95vh;
    justify-content: space-around;
    margin-bottom: 15vh;
    min-width: 1000px;
    position: fixed;
    width: 100vw;
    z-index: 4;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  .navbar {
    background-color: #252729;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }

  .text {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    color: #C7D5F9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    text-align: center;
    width: 50%;
}