@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

* {
  color: white;
}

body {
  background: linear-gradient(0deg, rgba(15,32,58,1) 5%, rgba(11,53,120,1) 50%, rgba(15,32,58,1) 94%);
  display: flex;
  flex-direction: column;
  min-width: 375px;
  overflow: hidden;
}

.center {
  background-color: black;
  border-radius: 50%;
  height: 10px;
  left: 57%;
  position: absolute;
  width: 10px;
}

.inner {
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px black;
  height: 110px;
  margin-left: 7px;
  margin-top: 5px;
  width: 110px;
}

.circle {
  align-items: center;
  background-color: grey;
  border-radius: 50%;
  display: grid;
  height: 125px;
  margin-left: 35px;
  margin-top: 25px;
  width: 125px;
}

.clock {
  z-index: 4;
  color: blue;
  left: 1vh;
  position: absolute;
  top: 12vh;
}

footer {
    flex: 0 30px;
    z-index: 2;
}

footer a {
    float: right;
}

header {
    flex: 0 80px;
}

li {
  list-style-type: none;
}

li:hover {
  color: #B6C4EB;
}

.line::before {
    position: absolute;
    content: '';
    height: 45px;
    width: 7px;
    background: black;
    top: 58%;
    left: calc(50% + 12px);
    border-radius: 5px;
    animation: spin 6s linear infinite;
    transform-origin: top;
}

main {
  align-items: center;
  display: flex;
  flex: 1 calc(100vh - 110px);
  flex-direction: column;
  height: 50%;
  justify-content: center;
  min-height: 80vh;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

#menu-buttons {
  align-items: end;
  display: flex;
  height: 95vh;
  justify-content: space-around;
  margin-bottom: 15vh;
  min-width: 1000px;
  position: fixed;
  width: 100vw;
  z-index: 4;
}

menu .nav-item {
  padding: 0 0.3em;
}

.navbar {
  background-color: #252729;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

#player-name {
  margin: 15px;
}

/*.puzzle-background {
  background-image: url('https://github.com/SBuss225/startup/blob/main/Untitled-Artwork.png?raw=true');
  background-repeat: no-repeat;
  height: 125%;
  position: relative;
  width: 1000px;
}
TODO: Reimplement with more fitting picture later */

#start {
  cursor: url('../assets/key-cursor.png'), crosshair;
}

.start-page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

table {
  cursor: pointer;
  font-family: 'Julee';
  font-size: 40px;
}

th:hover {
  color: #B6C4EB;
}

.title {
  align-items: center;
  top: 20vh;
  display: flex;
  font-family: 'Julee';
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}