* {
    font-family: 'Jost', sans-serif;
}

body {
    background: linear-gradient(0deg, rgba(15,32,58,1) 5%, rgba(11,53,120,1) 50%, rgba(15,32,58,1) 94%);
    height: fit-content;
    min-width: 375px;
    overflow-x: hidden;
}

footer {
    flex: 0 30px;
}

footer a {
    float: right;
}

header {
    flex: 0 80px;
}

main {
    align-items: center;
    display: flex;
    flex: 1 calc(100vh - 110px);
    flex-direction: column;
    height: 50%;
    justify-content: center;
    margin: 10vh;
    min-height: 80vh;
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  #menu-buttons {
    align-items: end;
    display: flex;
    height: 95vh;
    justify-content: space-around;
    margin-bottom: 15vh;
    min-width: 1000px;
    position: fixed;
    width: 100vw;
    z-index: 4;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  .navbar {
    background-color: #252729;
    height: 10vh;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }

  
* {
    box-sizing: border-box;
  }
  
  .hero-unit {
    background-color: #F4F263;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px black inset;
    color:#0F203A;
    margin-top: 3%;
    padding: 20px 15px;
  }
  
  .demo-box {
    box-shadow: 0 5px 10px black;
    color: #D2DEEC;
    margin: 50px 0;
    border: thin solid #7e9ac6;
    border-radius: 0.25rem;
    padding: 1rem;
  }

  .card {
    background: linear-gradient(0deg, rgba(15,32,58,1) 5%, rgba(11,53,120,1) 50%, rgba(15,32,58,1) 94%);
    border: 2px solid #7e9ac6;
  }
  
  .card > img {
    height: 200px;
    background: gray;
  }

  ::-webkit-scrollbar {
    border-radius: 10px;
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(1,33,100,1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(11,53,120,1);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(21,63,130,1);
  }